.bar {
  display: flex;
  flex: 0 0 auto;
  justify-content: flex-end;
  margin-inline-start: auto;
}

.selector {
  max-width: 160px;
  width: 160px;
}

.selector :global(s-select) {
  max-width: 100%;
  width: 100%;
}
